## General
*.lnk
*.jar
*.dat
*.exe



## Eclipse
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.metadata
.buildpath
.classpath
.project
.settings/


# Build results
[Bb]in/

#Folders
API/
Other/
API Stub/
Plugin*
Remover/
Reverser/

help/
lib/
plugins/

# jRAT
Client/settings/

# Mac crap
.DS_Store