## General
*.lnk
*.jar
*.dat
*.exe
.colors
.settings
.theme
.id
.sockets
.stats
.bookmarks
ZKM.class


## Eclipse
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.metadata
.buildpath
.classpath
.project
.settings/


# Build results
[Bb]in/

# Folders
API/
Other/
API Stub/
Remover/
Reverser/
Plugins/
help/
lib/
Controller/plugins/
Controller/settings/
Extractor/

jrat.key

# Mac crap
.DS_Store