Controller/.lock

*.lnk
*.jar
*.dat
*.exe
.colors
settings.json
.theme
.id
.sockets
.countrystats
.osstats
.bookmarks
.offline
.columns
ZKM.class
ZKM*
.DS_Store

bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.metadata
.buildpath
.classpath
.project
.settings/
[Bb]in/
.recommenders/

# Project
API/
Other/
API Stub/
Remover/
Reverser/
Plugins/
VPS Backup/
help/
lib/
Docs/
Controller/plugins/
Controller/settings/
Extractor/
*.key
run.bat
run.sh
Readmes/
Scripts/
out/
*.iml
.idea/
META-INF/
